@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    font: bold 1em 'Mukta', sans-serif;
    background-image: linear-gradient(to bottom, #2D4B73, #6F92BF, #D7D7D9, #F2D6B3);
}

h1{
    font: 3em 'Permanent Marker', cursive;
}

p{
    font: 400 1.2em 'Mukta', sans-serif;
}

dl{
    font-size: 1.1em;
}

dt{
    color: #734743;
}

mark{
    background-color: #eebb7d;
}

/*
    possibilidade 1 de palheta de cores:
    #D98F07
    #BF9F78
    #F2D0BD
    #D93F07
    #591202
*/
/*
    possibilidade 2 de palheta de cores:
    #D7D7D9
    #2D4B73
    #6F92BF
    #F2D6B3
    #734743
*/